<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
       <class name="A4.Google_form.PositiveFormTests"/>
       <class name="A4.Google_form.NegativeTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
